:root {
    --bg-color: #dfdcdc;
    --second-bg-color: #2e2e2e;
    --text-color: #ffffff;
    --main-color: #035e75;
    --main-color2: #00066e;
    --main-color3: #02c8b7;
    --main-color4: #ff9800;
    --main-color5: #dc3545;
    --main-color6 : #28a745;
    --main-color7 : #007bff;
  }
/* customer_sewa_mobil */
.form-pemesanan-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
.form-pemesanan-container h2{
    font-size: 3rem;
}

.form-section {
    padding: 50px 0;
}
.form-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.form-pemesanan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    width: 48%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
}
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
    padding: 8px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--main-color7);
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    transition: 0.5s ease;
}
.submit-btn:hover {
    background-color: var(--main-color2);
    box-shadow: 0 0 3rem var(--main-color3);
}
